<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메모</title>
</head>
<body>
<nav>
    <form th:method="post" th:action="@{/delete-all}"><button>전체 삭제</button></form>
    <a th:href="@{/add}">등록</a>
</nav>
<p th:text="${msg}"></p>
<ul>
    <li th:each="memo : ${memoList}">
        <span th:text="${memo.text}"></span>
        <a th:href="@{/update/{id}(id=${memo.id})}">수정</a>
        <!-- 갑자기 잘 안 되면 수파베이스를 리셋할 것! -->
        <form th:method="post" th:action="@{/delete/{id}(id=${memo.id()})}"><button>삭제</button></form>
    </li>
</ul>
</body>
</html>